@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 23, 23, 23;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  --bg-gradient: radial-gradient(149.64% 149.64% at 50% 50%, #fff 0%, #fff0 100%);
  overflow-x: hidden;
  background-color: rgb(23 23 23);
  color: rgb(255 255 255);
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
